player-connection-mode=Listen
player-connection-guid=4028966875
player-connection-debug=0
player-connection-project-name=Projeto Integrador 1
player-connection-ip=10.161.3.34
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ebe2abc0382042d884c8bb9438a1d259
